header{
    background-color: aquamarine;
}

nav{
    background-color: aqua;
}

main{
    background-color: blueviolet;
}

article{
    background-color: tomato;
}

footer{
    background-color: black;
    color: white;
}